body  {
	background-image: url("./images/smaller_sword.jpeg"); 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.App {
	/*background-color: #2f3338; */
}


.center {
    text-align: center;
}

.container {
	opacity: 0.97;
	border-radius: 8px;
}

.right-align {
	text-align: right;
}

.tag-text {
	font-size: 1.5em;
	font-weight: 500;
}

#sign-in-box {
	opacity: 0.95;
}

#tab-navigation {
	display: flex;
  	justify-content: center;
}