a {
	color: inherit !important; 
	text-decoration: inherit !important; 
}

body  {
	background-image: url("./images/smaller_sword.jpeg"); 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

.add-session {
	margin-top: 1.5rem;
}

.add-tag {
	font-weight: 900 !important;
	border-style: dashed;
	border-width: 2px !important;
	border-color: #30A64A;
}

.add-tag:hover {
	background-color: #30A64A;
	color: white;
}

.App {
	max-height: 90vh;
}

.border-bottom{
	border: solid rgba(134, 134, 134, 0.1);
	border-width: 0 0 1px 0;
}

.border-right{
	border: solid rgba(134, 134, 134, 0.1);
	border-width: 0 1px 0 0;
}

.border-top{
	border: solid rgba(134, 134, 134, 0.1);
	border-width: 1px 0 0 0;
}

.btn-my-sm {
	padding: 6px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

.campaign-item {
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
	border-width: 2px !important;
}

.campaign-list  {
	overflow: scroll;
	max-height: 41rem;
	margin: 1.5rem 0;
	padding: 0.5rem 0;
}

.center {
    text-align: center;
}

.container {
	opacity: 0.97;
	border-radius: 8px;
	height: 54rem;
	padding-top: 2rem !important;
}

.filter-and-search-bar {
	padding: 0.5rem 0 0.5rem 31px;
	min-height: 8%;
}

.item-menu {
	font-size: 18pt;
	color: rgba(151, 146, 146, 0.424);
	cursor: pointer;
	line-height: 0.5em;
}

.item-menu:hover {
	color: rgba(151, 146, 146, 0.835);
}

.react-search-field {
	
}

.react-search-field-input {
	width: 9rem;
}

.recap-body {
	padding: 0.6em 1em 0.6em 1em !important;
}

.recap-item-column {
	max-height: 41rem;
}

.recap-item-list {
	max-height: 41rem;
	margin: 0 0 0 30px;
	overflow: scroll;
	padding: 0.5rem 0.75rem 0.5rem 0.2rem !important;
}

.remove-margin {
	margin: 0 !important;
}

.remove-padding {
	padding: 0 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.remove-scroll-bar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
.remove-scroll-bar {
	-ms-overflow-style: none;
}

.right-align {
	text-align: right;
}

.session-info {
	font-size: 0.9em;
	color: rgba(151, 146, 146, 0.835);
	font-style: italic;
}

.session-item {
	width: inherit;
	margin-bottom: 0.3rem;
	border-width: 2px !important;
}

.session-item:hover {
	cursor: pointer;
}

.session-item-date-text {
	font-size: 0.95rem !important;
}

.session-item-list {
	overflow: scroll;
	max-height: 41rem;
	margin: 0 0 0 30px;
	padding: 0.5rem 0.75rem 0.5rem 0 !important;
}

.session-item-title {
	font-size: 13pt;
}

.sort-arrow-active {
	color: rgba(39, 160, 180, 1);
}

.sort-arrow-inactive{
	cursor: pointer;
	color: rgba(151, 146, 146, 0.424);
}

.sort-arrow-inactive:hover {
	color: rgba(151, 146, 146, 0.835);
}

.sort-arrows-col {
	font-size: 13pt;
	color: rgba(151, 146, 146, 0.424);
	padding-top: 0.5rem;
	width: 30px;
    float: left;
}

.tag-bar {
	height: 39rem;
}

.tag-bar-lower {
	height: 92%;
}

.tag-item {
	width: inherit;
	margin-bottom: 0.3rem;
	border-width: 2px !important;
}

.tag-item:hover {
	cursor: pointer;
}

.tag-item-list {
	overflow: scroll;
	max-height: 100%;
	margin: 0 0 0 30px;
	padding: 0.5rem 0.75rem 0.5rem 0 !important;
}

.tag-item-title {
	font-size: 1.1rem;
}

#sign-in-box {
	opacity: 0.95;
}

#tab-navigation {
	display: flex;
  	justify-content: center;
}