body  {
	background-image: url("./images/smaller_sword.jpeg"); 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.App {
	/*background-color: #2f3338; */
}

.add-tag {
	font-weight: 900 !important;
	border-style: dashed;
	border-width: 2px !important;
	border-color: #30A64A;
}

.add-tag {
	font-weight: 900 !important;
	border-style: dashed;
	border-width: 2px !important;
	border-color: #30A64A;
}

.add-tag:hover {
	background-color: #30A64A;
	color: white;
}

.center {
    text-align: center;
}

.container {
	opacity: 0.97;
	border-radius: 8px;
}


.item-menu {
	font-size: 18pt;
	color: rgba(151, 146, 146, 0.424);
	cursor: pointer;
	line-height: 0.5em;
}

.item-menu:hover {
	color: rgba(151, 146, 146, 0.835);
}

.recap-body {
	padding: 0.6em 1em 0.6em 1em !important;
}

.right-align {
	text-align: right;
}

.session-info {
	font-size: 0.9em;
	color: rgba(151, 146, 146, 0.835);
	font-style: italic;
}

.tag {
	padding: 0.2rem !important;
}

.tag-text {
	font-size: 1.5em;
	font-weight: 500;
}

#sign-in-box {
	opacity: 0.95;
}

#tab-navigation {
	display: flex;
  	justify-content: center;
}